.navBar {
    width: 100%;
    background-color: #efefef;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navBar h2 {
    font-size: 16px;
    color: #444;
}

.navBar span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #c6bcf5;
    color: #6d28d9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-size: 14px;
}